/* style.css */

body {
    font-family: Garamond, sans-serif;
    box-sizing: border-box;
}

#header {
    color: white;
    background-color: rgb(255, 174, 145);
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.recipe {
    color: white;
    font-size: 20px;
}

.index{
    display:flex;
    list-style-type: none;
    width: 600px;
    margin-left: 300px;
}

.pages {
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    background-color: rgb(255, 174, 145);
}

.pages:hover {
    background-color: rgb(235, 99, 99);
}

h3 {
    background-color: rgb(255, 174, 145);
    color: white;
}

.return {
    color: rgb(235, 99, 99);
}

#chicken {
    height: 500px;
    width: auto;
}

div {
    width: 1000px;
    margin: auto;
}