/* style.css */

body {
    font-family: Garamond, sans-serif;
}

#header {
    color: white;
    background-color: rgb(255, 174, 145);
    text-align: center;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe {
    color: rgb(235, 99, 99);
    font-size: 20px;
}

h3 {
    background-color: rgb(255, 174, 145);
    color: white;
}

.return {
    color: rgb(235, 99, 99);
}